<center>
<h3 style="color:#fff";>Months of Supply</h3>

<iframe src="https://www.getsmartcharts.com/share/v1/e/bHRpZD0yJmxpZD0xMDM0JnJpZD02MCZnaWQ9NiZmdGlkPTAmZmlkPTEwMDAmZ3R5PTEmbW9kZT03JndpZHRoPTIyMCZzaWQ9MCZjYz02NjY2NjYlMkNmZjY2MDAmaGVpZ2h0PTI1MCZzbV9lbWJlZD0x/14039623782752/1/mls" width="220" height="250" frameborder="0"></iframe>

<h3 style="color:#fff";>New Pendings</h3>

<iframe src="https://www.getsmartcharts.com/share/v1/e/bHRpZD0yJmxpZD0xMDM0JnJpZD0xMCZnaWQ9NiZmdGlkPTAmZmlkPTEwMDAmZ3R5PTEmbW9kZT03JndpZHRoPTIyMCZzaWQ9MCZjYz02NjY2NjYlMkMwMDAxZmUmaGVpZ2h0PTI1MCZzbV9lbWJlZD0x/14039623782752/1/mls" width="220" height="250" frameborder="0"></iframe>

<h3 style="color:#fff";>Average Sales Price to Original List Price Ratio</h3>

<iframe src="https://www.getsmartcharts.com/share/v1/e/bHRpZD0yJmxpZD0xMDM0JnJpZD05JmdpZD02JmZ0aWQ9MCZmaWQ9MTAwMCZndHk9MSZtb2RlPTcmd2lkdGg9MjIwJnNpZD0wJmNjPTY2NjY2NiUyQ2JiYzAwMSZoZWlnaHQ9MjUwJnNtX2VtYmVkPTE=/14039623782752/1/mls" width="220" height="250" frameborder="0"></iframe>

<h3 style="color:#fff";>Closed Sales</h3>

<iframe src="https://www.getsmartcharts.com/share/v1/e/bHRpZD0yJmxpZD0xMDM0JnJpZD0xJmdpZD02JmZ0aWQ9MCZmaWQ9MTAwMCZndHk9MSZtb2RlPTcmd2lkdGg9MjIwJnNpZD0wJmNjPTY2NjY2NiUyQzAwODAwMSZoZWlnaHQ9MjUwJnNtX2VtYmVkPTE=/14039623782752/1/mls" width="220" height="250" frameborder="0"></iframe>
</center>
